h1{
    /* font-family:fantasy;
    font-family: 'Shadows into Light', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Shadows into Light'; */
    font-family: 'Shadows Into Light', cursive;
    color:white;
    font-size:4rem;
}